$SettingColorButton: #c38310;
$SettingBackgroundFooter: #212224;
$SettingColorInput: #212224;
$SettingBackground: #e1d5c9;
$SettingBackgroundTwo: #c6b3a0;
$SettingBackgroundTwoHover: #d2b190;
$SettingColorTextError: #c38310;
$SettingColorHr: #c38310;
$SettingBackgroundInput: rgba(0, 0, 0, 0);
$SettingBorderInput: 2px solid #e1d5c9;
$SetingColorTextInput: #e1d5c9;
$SetingColorTextFilter: #212224;

$SetingAuthBorderInputColor: 2px solid #fff;
$SetingAuhtRadiusInputColor: 3px;
