@import "../Settings/Components/ColorsStyles.scss";

$colorButton: $SettingColorButton;
$colorTextError: $SettingColorTextError;
$backgroundFooter: $SettingBackgroundFooter;
$colorHr: $SettingColorHr;
$colorInput: $SettingColorInput;
$background: $SettingBackground;
$backgroundTwo: $SettingBackgroundTwo;
$backgroundTwoHover: $SettingBackgroundTwoHover;
$backgroundInput: $SettingBackgroundInput;
$borderInput: $SettingBorderInput;
$colorTextInput: $SetingColorTextInput;
$colorTextFilter: $SetingColorTextFilter;

$auhtBorderInputColor: $SetingAuthBorderInputColor;
$auhtRadiusInputColor: $SetingAuhtRadiusInputColor;
