.root {
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  padding: 58px 45px 0 45px;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 40px;
}
